/MiCrucigrama/nbproject/private/
/CrossWord-main/target/
/CrossWord-main (no mati)/target/
/MiCrucigrama/build/
/MiCrucigramav2/nbproject/private/
/MiCrucigramaV2/nbproject/private/
/MiCrucigrama - copia/build/
/MiCrucigrama - copia/nbproject/private/
/MiCrucigramaV2/build/
/MVC - copia/build/
/MVC - copia/nbproject/private/